body {
  background-color: lightblue;
}

.container {
  display: flex;
  width: 100%;
  height: 300px;
}

.outputSandwich {
  height: 300px;
}











/*BUTTON PROPERTY*/
#btn {
  background: #369131;
  background-image: -webkit-linear-gradient(top, #369131, #c6cc12);
  background-image: -moz-linear-gradient(top, #369131, #c6cc12);
  background-image: -ms-linear-gradient(top, #369131, #c6cc12);
  background-image: -o-linear-gradient(top, #369131, #c6cc12);
  background-image: linear-gradient(to bottom, #369131, #c6cc12);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #000000 2px;
  text-decoration: none;
}

#btn:hover {
  background: #c6cc12;
  background-image: -webkit-linear-gradient(top, #c6cc12, #050f04);
  background-image: -moz-linear-gradient(top, #c6cc12, #050f04);
  background-image: -ms-linear-gradient(top, #c6cc12, #050f04);
  background-image: -o-linear-gradient(top, #c6cc12, #050f04);
  background-image: linear-gradient(to bottom, #c6cc12, #050f04);
  text-decoration: none;
}